html {
    /* Setting a base font size of 10px give us easier rem calculations
       Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth
     */
    font-size: 10px;
  }

  head{
      background:rgb(255, 255, 255);
      width: 100vw;
      left:0;
      top:0;
      height: 10vh;
    /*border: 5px solid black;*/
    }
    
  .hl {
    position: fixed;
    border-top: 5px solid black;
    width: 100vw;
    margin-top: 8px;
  }

  #title {
    display: inline;
    margin-block-start: 0.0em;
    margin-block-end: 0.67em;
    font-size: 4rem;
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
  }
  .saved {
    display: inline;
    font-family: 'Great Vibes', cursive;
    font-size: 3.5rem;       
    }
  h1 {
    font-size: 4rem;
    margin-bottom: 0;
  }
 
  #headline {
    text-align: center;
    max-width: 100%;
    font-size: 3rem;
    font-family: 'Sansita Swashed', cursive;
  }
  
  ul {
    text-align: left;
    line-height: 1.6;
    max-width: 100%;
    padding-right: 30px;
    font-size: 2.5rem;

  }
  
  li {
    text-align: justify;
    max-width: 100%;
    font-size: 2.0rem;
  }

  blockquote {
    padding-left: 25px;
    font-style: italic;
    max-width: 90vw;
    margin: 0 auto 0px auto;
    text-align: left;
    font-size: 2.0rem;
    background: rgb(237, 241, 227);
  }

  h2 {
    font-size: 3.25rem;
  }
  
  h3 {
    margin-block-end: 0px;
    margin-block-start: 0px;
    font-size: 2.0rem;
  }

  #tribute-info{
    max-width: 100%;
    background: rgb(237, 241, 227);
  }
  a {
    color: #477ca7;
  }
  
  a:visited {
    color: #74638f;
  }

  hr{
    margin-block-start: 0.0em;
    margin-block-end: 0.5em;
    
  }
 
    img {
      display: block;
      max-width: 100%;
      max-height: auto;
      margin: 0 auto;
    }
    
    #img-div {
      background: white;
      margin: 0;

      height: auto;

    }
    
    #img-caption {
      margin: 15px 0 5px 0;
      font-size: 1.8rem;
    }
    
    
  body {
    /* Native font stack https://getbootstrap.com/docs/4.2/content/reboot/#native-font-stack */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Helvetica Neue', Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    overflow: visible;
  }
    
  .container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: max-content ;
  }

  .container:hover {
    font-size: 16px;
    width: 100%;
    height: auto;
    margin-top:0px;
    margin-bottom:50px;
    display: grid;
    grid-template-columns:   40% 60%;
  }



      footer{
        position: fixed;
        background:rgb(255, 255, 255);
        width: 100%;
        text-align: center;
        left:0;
        bottom:0;
      }


  
  @media (max-width: 460px) {
    h1 {
      font-size: 3.5rem;
      line-height: 1.2;
    }
  }
  
  
  
  #main {
    
    min-width: 0;
  }
  
  @media (max-width: 460px) {W
    #main {
      margin: 0;
    }
  }
  
 
  @media (max-width: 460px) {
    #img-caption {
      font-size: 1.4rem;
    }
  }
  
 
  


